@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

<div>
    <ul id="messages">
        <li>first item</li>
    </ul>

    <input id="msg" type="text"/>
    <button id="sendButton">Send</button>
</div>

<script type="text/javascript">
    $(document).ready(function () {    // Add handler to Send button
        $("#sendButton").click(function () {
            chat.send($('#msg').val());
        });
        // Create a proxy for the server endpoint
        var chat = $.connection.chat;
        var log4net = $.connection.signalrAppenderHub;
        var consoleLogger = $.connection.signalrAppenderForConsoleHub;
        // Add a client-side callback to process any data
        // received from the server
        chat.addMessage = function (message) {
            $('#messages').append('<li>' + message + '</li>');
        };

        chat.addPerson = function (person) {
            $('#messages').append('<li>' + person.Name + '</li>');
            $('#messages').append('<li>' + person.Age + '</li>');
        };

        log4net.addMessage = function (message) {
            $('#messages').append('<li>' + message + '</li>');
        };

        log4net.onLoggedEvent = function (loggedEvent) {
            $('#messages').append('<li>' + loggedEvent.Message + '</li>');
        };

        consoleLogger.onLoggedEvent = function (loggedEvent) {
            $('#messages').append('<li>' + loggedEvent.Timestamp + " -- " + loggedEvent.Level + " -- " + loggedEvent.Message + '</li>');
        };

        consoleLogger.sayHi = function (message) {
            $('#messages').append('<li>' + message + '</li>');
        };
        // Start the conversation
        $.connection.hub.start(function () {
            chat.send("from callback");
            log4net.listen();
        }
        );
    });
</script>