@{
    ViewBag.Title = "Sample Chat app to learn SignalR";
}
<h2>@ViewBag.Title</h2>

<script type="text/javascript">
    $(document).ready(function () {    // Add handler to Send button
        $("#chatButton").click(function () {
            chat.send($('#chatMsg').val());
        });
        // Create a proxy for the server endpoint
        var chat = $.connection.chat;
        
        // Add a client-side callback to process any data
        // received from the server
        chat.addMessage = function (message) {
            $('#chatMessages').append('<li>' + message + '</li>');
        };

        // Start the conversation
        $.connection.hub.start(function () {
            chat.send("from callback");
        });
    });
</script>

<div>
    <input type="text" id="chatMsg"/>
    <button id="chatButton">Send</button>

    <ul id="chatMessages">
    </ul>
</div>